body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
}

h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex > .columna > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    line-height: 30px; /*acomodar de manera vertical el texto*/
    text-align: center;
}

 .flex > .columnareversa{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.flex > .columnareversa > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.flexrow{
    display: flex; /*Indicarle que los elementos se acomoden de manera flexible*/
    flex-direction: row; /*Como quiero que se acomoden los bloques, horizontal o vertical*/
    flex-wrap: wrap; /*indicarle al navegador, si cambio el tamaño, el usuario siga viendo la
    informacion*/
    justify-content: space-around; /*Hay un espacio entre los bloques*/
}

.flexrow > .row{
    display: flex;
    flex-direction: row;
}

.flexrow > .rowreversa{
    display: flex;
    flex-direction: row-reverse;
}

.flexrow > .row > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.flexrow > .rowreversa > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.subtitulo{
    text-align: center;
}

.justify-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.justify-content > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

#subtitulo2{
    margin-left: 10px;
}

.flexstart{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.flexstart > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

#subtitulo3{
    text-align: right;
    margin-right: 10px;
}

.flexend{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.flexend > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.spacearound{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.spacearound > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
} 

.spacebetween{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.spacebetween > div{
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.spaceevenly{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.spaceevenly > div {
    width: 30px;
    height: 30px;
    background: #000000;
    color: #ffffff;
    margin: 10px;
    padding:20px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}
