.jumbotron{
  background: rgb(80, 80, 131);  
}

.cuadroblanco{
    width: 70%;
    height: 60%;
    background: #fff;
    margin-left: 15%;
}

.cuadroblanco > img {
    width: 40%;
    height: 40%;
    margin-left: 30%;
}

.titulo{
    color: rgb(80, 80, 131);
    text-align: center;
    font-weight: 700px;
}

.form-check{
    margin-left: 20%;
}

.btn{
    margin-left: 30%;
}
